<a href="https://colab.research.google.com/github/bmbuthia/benard/blob/main/Assignment_The_Linear_Regression_Model_(project)Benard_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project Notebook: The Linear Regression Model

## 1. Introduction

We started by building intuition for model based learning, explored how the linear regression model worked, understood how the two different approaches to model fitting worked, and some techniques for cleaning, transforming, and selecting features. In this project, you can practice what you learned by exploring ways to improve the models we built.

You'll work with housing data for the city of Ames, Iowa, United States from 2006 to 2010. You can also read about the different columns in the data [here](https://s3.amazonaws.com/dq-content/307/data_description.txt).

Let's start by setting up a pipeline of functions that will let us quickly iterate on different models.

**Tasks**

1. Import pandas, matplotlib, and numpy into the environment. Import the classes you need from scikit-learn as well.
2. Read `AmesHousing.tsv` () into a pandas data frame.
3. For the following functions, we recommend creating them in the first few cells in the notebook. This way, you can add cells to the end of the notebook to do experiments and update the functions in these cells.
* Create a function named `transform_features()` that, for now, just returns the train data frame.
* Create a function named `select_features()` that, for now, just returns the Gr Liv Area and SalePrice columns from the train data frame.
* Create a function named `train_and_test()` that, for now:

1. Selects the first 1460 rows from from data and assign to train.
2. Selects the remaining rows from data and assign to test.
3. Trains a model using all numerical columns except the SalePrice column (the target column) from the data frame returned from `select_features()`
4. Tests the model on the test set and returns the `RMSE` value.

In [ ]:
#Importing Libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.linear_model import LinearRegression
import csv
import re
from sklearn.model_selection import KFold
from sklearn.metrics import mean_squared_error
from sklearn import linear_model
from sklearn.model_selection import KFold


#Reading the Dataframe
data = pd.read_csv('https://bit.ly/3boZCX4)',sep= "\t")

train=data[0:1460]
test=data[1460:]
print(train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 82 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Order            1460 non-null   int64
 1   PID              1460 non-null   int64
 2   MS SubClass      1460 non-null   int64
 3   MS Zoning        1460 non-null   object
 4   Lot Frontage     1211 non-null   float64
 5   Lot Area         1460 non-null   int64
 6   Street           1460 non-null   object
 7   Alley            109 non-null    object
 8   Lot Shape        1460 non-null   object
 9   Land Contour     1460 non-null   object
 10  Utilities        1460 non-null   object
 11  Lot Config       1460 non-null   object
 12  Land Slope       1460 non-null   object
 13  Neighborhood     1460 non-null   object
 14  Condition 1      1460 non-null   object
 15  Condition 2      1460 non-null   object
 16  Bldg Type        1460 non-null   object
 17  House Style      1460 non-null   object
 18  Overall Qual     1460 non-null   int64
 19  Overall Cond     1460 non-null   int64
 20  Year Built       1460 non-null   int64
 21  Year Remod/Add   1460 non-null   int64
 22  Roof Style       1460 non-null   object
 23  Roof Matl        1460 non-null   object
 24  Exterior 1st     1460 non-null   object
 25  Exterior 2nd     1460 non-null   object
 26  Mas Vnr Type     1449 non-null   object
 27  Mas Vnr Area     1449 non-null   float64
 28  Exter Qual       1460 non-null   object
 29  Exter Cond       1460 non-null   object
 30  Foundation       1460 non-null   object
 31  Bsmt Qual        1420 non-null   object
 32  Bsmt Cond        1420 non-null   object
 33  Bsmt Exposure    1419 non-null   object
 34  BsmtFin Type 1   1420 non-null   object
 35  BsmtFin SF 1     1459 non-null   float64
 36  BsmtFin Type 2   1419 non-null   object
 37  BsmtFin SF 2     1459 non-null   float64
 38  Bsmt Unf SF      1459 non-null   float64
 39  Total Bsmt SF    1459 non-null   float64
 40  Heating          1460 non-null   object
 41  Heating QC       1460 non-null   object
 42  Central Air      1460 non-null   object
 43  Electrical       1460 non-null   object
 44  1st Flr SF       1460 non-null   int64
 45  2nd Flr SF       1460 non-null   int64
 46  Low Qual Fin SF  1460 non-null   int64
 47  Gr Liv Area      1460 non-null   int64
 48  Bsmt Full Bath   1459 non-null   float64
 49  Bsmt Half Bath   1459 non-null   float64
 50  Full Bath        1460 non-null   int64
 51  Half Bath        1460 non-null   int64
 52  Bedroom AbvGr    1460 non-null   int64
 53  Kitchen AbvGr    1460 non-null   int64
 54  Kitchen Qual     1460 non-null   object
 55  TotRms AbvGrd    1460 non-null   int64
 56  Functional       1460 non-null   object
 57  Fireplaces       1460 non-null   int64
 58  Fireplace Qu     743 non-null    object
 59  Garage Type      1386 non-null   object
 60  Garage Yr Blt    1385 non-null   float64
 61  Garage Finish    1385 non-null   object
 62  Garage Cars      1460 non-null   float64
 63  Garage Area      1460 non-null   float64
 64  Garage Qual      1385 non-null   object
 65  Garage Cond      1385 non-null   object
 66  Paved Drive      1460 non-null   object
 67  Wood Deck SF     1460 non-null   int64
 68  Open Porch SF    1460 non-null   int64
 69  Enclosed Porch   1460 non-null   int64
 70  3Ssn Porch       1460 non-null   int64
 71  Screen Porch     1460 non-null   int64
 72  Pool Area        1460 non-null   int64
 73  Pool QC          1 non-null      object
 74  Fence            297 non-null    object
 75  Misc Feature     60 non-null     object
 76  Misc Val         1460 non-null   int64
 77  Mo Sold          1460 non-null   int64
 78  Yr Sold          1460 non-null   int64
 79  Sale Type        1460 non-null   object
 80  Sale Condition   1460 non-null   object
 81  SalePrice        1460 non-null   int64
dtypes: float64(11), int64(28), object(43)
memory usage: 935.4+ KB
None

In [ ]:
data = pd.read_csv('https://bit.ly/3boZCX4)',sep= "\t")

data.head()

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900

In [ ]:
#Create a function named transform_features() that, for now, just returns the train data frame.
def transform_features():
    return (data)

In [ ]:
#Creating a function named select_features() that, for now, just returns the Gr Liv Area and SalePrice columns from the train data frame.
def select_features(data):
    return data[['Gr Liv Area', 'SalePrice']]

In [ ]:
#Create a function named train_and_test()


def train_and_test(data):
    train = data[0:1460]
    test = data[1460:]
    
    # Using pd.dataframe.select_dtypes to only includes 
    # columns with certain datatypes.
    train_numeric = train.select_dtypes(include = ['float','integer'])
    test_numeric = test.select_dtypes(include = ['float', 'integer'])
    
    # Using pd.drop to drop a value
    features = train_numeric.columns.drop('SalePrice')
    
    # Using target column for solution extensibility
    target = 'SalePrice'
        # Creating Linear Regression instance:
    lr = LinearRegression()
    lr.fit(train[features], train[target])
    
    # Predicting on test set
    predictions = lr.predict(test[features])
    
    # Calculating errors (MSE and RMSE)
    mse = mean_squared_error(test[target], predictions)
    rmse = np.sqrt(mse)
    #rmse = mse**(1/2) Alternative square-root calculation

    return rmse

# Using above functions to process dataframe and return RMSE
transform_df = transform_features()
features_df = select_features(transform_df)
rmse = train_and_test(features_df)

# Printing rmse from above
print(rmse)

57088.25161263909

## 2. Feature Engineering

Let's now start removing features with many missing values, diving deeper into potential categorical features, and transforming text and numerical columns. Update `transform_features()` so that any column from the data frame with more than 25% (or another cutoff value) missing values is dropped. You also need to remove any columns that leak information about the sale (e.g. like the year the sale happened). In general, the goal of this function is to:

* remove features that we don't want to use in the model, just based on the number of missing values or data leakage.
* transform features into the proper format (numerical to categorical, scaling numerical, filling in missing values, etc).
* create new features by combining other features.

Next, you need to get more familiar with the remaining columns by reading the data documentation for each column, determining what transformations are necessary (if any), and more. As we mentioned earlier, succeeding in predictive modeling (and competitions like Kaggle) is highly dependent on the quality of features the model has. Libraries like scikit-learn have made it quick and easy to simply try and tweak many different models, but cleaning, selecting, and transforming features are still more of an art that requires a bit of human ingenuity.

**Tasks**

1. As we mentioned earlier, we recommend adding some cells to explore and experiment with different features (before rewriting these functions).

2. The `transform_features()` function shouldn't modify the train data frame and instead return a new one entirely. This way, we can keep using train in the experimentation cells.

3. Which columns contain less than 5% missing values?
* For numerical columns that meet this criteria, let's fill in the missing values using the most popular value for that column.

4. What new features can we create, that better capture the information in some of the features?
* An example of this would be the `years_until_remod` feature we created in the last lesson.

5. Which columns need to be dropped for other reasons?
* Which columns aren't useful for machine learning?
* Which columns leak data about the final sale?

In [ ]:

# Your code goes here
missing_count = data.isnull().sum().sort_values(ascending = False)
missing_count.head()

Pool QC         2917
Misc Feature    2824
Alley           2732
Fence           2358
Fireplace Qu    1422
dtype: int64

In [ ]:
# Creating a variable for columns with more than 5% missing
high_missing = missing_count[(missing_count/len(data) > .05)]
print(high_missing.sort_values(ascending=False))

# Dropping these columns from the dataframe
data = data.drop(high_missing.index, axis = 1)
data.head()

Pool QC          2917
Misc Feature     2824
Alley            2732
Fence            2358
Fireplace Qu     1422
Lot Frontage      490
Garage Cond       159
Garage Finish     159
Garage Yr Blt     159
Garage Qual       159
Garage Type       157
dtype: int64

,Order,PID,MS SubClass,MS Zoning,Lot Area,Street,Lot Shape,Land Contour,Utilities,Lot Config,...,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,31770,Pave,IR1,Lvl,AllPub,Corner,...,0,0,0,0,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,11622,Pave,Reg,Lvl,AllPub,Inside,...,0,0,120,0,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,14267,Pave,IR1,Lvl,AllPub,Corner,...,0,0,0,0,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,11160,Pave,Reg,Lvl,AllPub,Corner,...,0,0,0,0,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,13830,Pave,IR1,Lvl,AllPub,Inside,...,0,0,0,0,0,3,2010,WD,Normal,189900

In [ ]:
# Dropping text columns with more than 1 missing value

# Finding text columns with missing values
text_mv_counts = data.select_dtypes(include=['object']).isnull().sum().sort_values(ascending=False)

# Filter Series to columns containing *any* missing values
drop_missing_cols_2 = text_mv_counts[text_mv_counts > 0]

data = data.drop(drop_missing_cols_2.index, axis=1)

In [ ]:
# Finding missing numeric values
numeric_missing = data.select_dtypes(include=['integer', 'float']).isnull().sum().sort_values(ascending = False)

# Finding columns between 1 missing value and 5% missing values
fixable_numeric_cols = numeric_missing[(numeric_missing < len(data)/20) & (numeric_missing > 0)].sort_values(ascending = False)
fixable_numeric_cols

Mas Vnr Area      23
Bsmt Half Bath     2
Bsmt Full Bath     2
Garage Cars        1
Garage Area        1
Total Bsmt SF      1
Bsmt Unf SF        1
BsmtFin SF 1       1
BsmtFin SF 2       1
dtype: int64

In [ ]:
# Compute the most common value for each column in `fixable_numeric_missing_cols`.
replacement_values_dict = data[fixable_numeric_cols.index].mode().to_dict(orient='records')[0]
replacement_values_dict

{'Bsmt Full Bath': 0.0,
 'Bsmt Half Bath': 0.0,
 'Bsmt Unf SF': 0.0,
 'BsmtFin SF 1': 0.0,
 'BsmtFin SF 2': 0.0,
 'Garage Area': 0.0,
 'Garage Cars': 2.0,
 'Mas Vnr Area': 0.0,
 'Total Bsmt SF': 0.0}

In [ ]:
# Fill values in fixable numeric missing columns from above
data = data.fillna(replacement_values_dict)

In [ ]:
# Check for missing values
data.isnull().sum().value_counts()

0    64
dtype: int64

In [ ]:
# Creating feature for age of home at sale
home_age = data['Yr Sold'] - data['Year Built']

# Checking for unexpected (negative values)
home_age[home_age < 0]

2180   -1
dtype: int64

In [ ]:
# Creating features for age of remodel at sale
remod_age = data['Yr Sold'] - data['Year Remod/Add']

# Checking for negative values
remod_age[remod_age < 0]

1702   -1
2180   -2
2181   -1
dtype: int64

In [ ]:
# Adding the above new features to the dataframe

# Adding home age feature
data['home_age'] = home_age

# Adding remodel age feature
data['remod_age'] = remod_age

# Drop rows with negative values for both of these new features
data = data.drop([1702, 2180, 2181], axis=0)

# Drop original year columns
data = data.drop(["Year Built", "Year Remod/Add"], axis = 1)
data

,Order,PID,MS SubClass,MS Zoning,Lot Area,Street,Lot Shape,Land Contour,Utilities,Lot Config,...,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice,home_age,remod_age
0,1,526301100,20,RL,31770,Pave,IR1,Lvl,AllPub,Corner,...,0,0,0,5,2010,WD,Normal,215000,50,50
1,2,526350040,20,RH,11622,Pave,Reg,Lvl,AllPub,Inside,...,120,0,0,6,2010,WD,Normal,105000,49,49
2,3,526351010,20,RL,14267,Pave,IR1,Lvl,AllPub,Corner,...,0,0,12500,6,2010,WD,Normal,172000,52,52
3,4,526353030,20,RL,11160,Pave,Reg,Lvl,AllPub,Corner,...,0,0,0,4,2010,WD,Normal,244000,42,42
4,5,527105010,60,RL,13830,Pave,IR1,Lvl,AllPub,Inside,...,0,0,0,3,2010,WD,Normal,189900,13,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2925,2926,923275080,80,RL,7937,Pave,IR1,Lvl,AllPub,CulDSac,...,0,0,0,3,2006,WD,Normal,142500,22,22
2926,2927,923276100,20,RL,8885,Pave,IR1,Low,AllPub,Inside,...,0,0,0,6,2006,WD,Normal,131000,23,23
2927,2928,923400125,85,RL,10441,Pave,Reg,Lvl,AllPub,Inside,...,0,0,700,7,2006,WD,Normal,132000,14,14
2928,2929,924100070,20,RL,10010,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,4,2006,WD,Normal,170000,32,31
2929,2930,924151050,60,RL,9627,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,11,2006,WD,Normal,188000,13,12

In [ ]:
# Drop columns that are irrelevant
data = data.drop(["PID", "Order"], axis=1)

# Drop columns that leak info about the final sale
data = data.drop(["Mo Sold", "Sale Condition", "Sale Type", "Yr Sold"], axis=1)

## 3. Feature Selection

Now that we have cleaned and transformed a lot of the features in the data set, it's time to move on to feature selection for numerical features.

**Tasks**

1. Generate a correlation heatmap matrix of the numerical features in the training data set.
* Which features correlate strongly with our target column, `SalePrice`?
* Calculate the correlation coefficients for the columns that seem to correlate well with `SalePrice`. Because we have a pipeline in place, it's easy to try different features and see which features result in a better cross validation score.

2. Which columns in the data frame should be converted to the categorical data type? All of the columns that can be categorized as nominal variables are candidates for being converted to categorical. Here are some other things you should think about:
* If a categorical column has hundreds of unique values (or categories), should you keep it? When you dummy code this column, hundreds of columns will need to be added back to the data frame.
* Which categorical columns have a few unique values but more than 95% of the values in the column belong to a specific category? This would be similar to a low variance numerical feature (no variability in the data for the model to capture).

3. Which columns are currently numerical but need to be encoded as categorical instead (because the numbers don't have any semantic meaning)?

4. What are some ways we can explore which categorical columns "correlate" well with `SalePrice`?

5. Update the logic for the `select_features()` function. This function should take in the new, modified train and test data frames that were returned from `transform_features()`.

In [ ]:
# Creating dataframe of numeric columns
numerical_df = transform_df.select_dtypes(include = ['integer', 'float'])
numerical_df.head()

,Order,PID,MS SubClass,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,...,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,SalePrice
0,1,526301100,20,141.0,31770,6,5,1960,1960,112.0,...,210,62,0,0,0,0,0,5,2010,215000
1,2,526350040,20,80.0,11622,5,6,1961,1961,0.0,...,140,0,0,0,120,0,0,6,2010,105000
2,3,526351010,20,81.0,14267,6,6,1958,1958,108.0,...,393,36,0,0,0,0,12500,6,2010,172000
3,4,526353030,20,93.0,11160,7,5,1968,1968,0.0,...,0,0,0,0,0,0,0,4,2010,244000
4,5,527105010,60,74.0,13830,5,5,1997,1998,0.0,...,212,34,0,0,0,0,0,3,2010,189900

In [ ]:
#Generate a correlation heatmap matrix of the numerical features in the training data set.

# Looking at correlation between feature columns and sale price
abs_corr_coeffs = numerical_df.corr()['SalePrice'].abs().sort_values(ascending = False)

# Viewing coefficients in descending order
abs_corr_coeffs

SalePrice          1.000000
Overall Qual       0.799262
Gr Liv Area        0.706780
Garage Cars        0.647877
Garage Area        0.640401
Total Bsmt SF      0.632280
1st Flr SF         0.621676
Year Built         0.558426
Full Bath          0.545604
Year Remod/Add     0.532974
Garage Yr Blt      0.526965
Mas Vnr Area       0.508285
TotRms AbvGrd      0.495474
Fireplaces         0.474558
BsmtFin SF 1       0.432914
Lot Frontage       0.357318
Wood Deck SF       0.327143
Open Porch SF      0.312951
Half Bath          0.285056
Bsmt Full Bath     0.276050
2nd Flr SF         0.269373
Lot Area           0.266549
PID                0.246521
Bsmt Unf SF        0.182855
Bedroom AbvGr      0.143913
Enclosed Porch     0.128787
Kitchen AbvGr      0.119814
Screen Porch       0.112151
Overall Cond       0.101697
MS SubClass        0.085092
Pool Area          0.068403
Low Qual Fin SF    0.037660
Bsmt Half Bath     0.035835
Mo Sold            0.035259
3Ssn Porch         0.032225
Order              0.031408
Yr Sold            0.030569
Misc Val           0.015691
BsmtFin SF 2       0.005891
Name: SalePrice, dtype: float64

In [ ]:
abs_corr_coeffs[abs_corr_coeffs > 0.4]

SalePrice         1.000000
Overall Qual      0.799262
Gr Liv Area       0.706780
Garage Cars       0.647877
Garage Area       0.640401
Total Bsmt SF     0.632280
1st Flr SF        0.621676
Year Built        0.558426
Full Bath         0.545604
Year Remod/Add    0.532974
Garage Yr Blt     0.526965
Mas Vnr Area      0.508285
TotRms AbvGrd     0.495474
Fireplaces        0.474558
BsmtFin SF 1      0.432914
Name: SalePrice, dtype: float64

In [ ]:
transform_df = transform_df.drop(abs_corr_coeffs[abs_corr_coeffs < 0.4].index, axis=1)

In [ ]:
nominal_features = ["PID", "MS SubClass", "MS Zoning", "Street", "Alley", "Land Contour", "Lot Config", "Neighborhood", 
                    "Condition 1", "Condition 2", "Bldg Type", "House Style", "Roof Style", "Roof Matl", "Exterior 1st", 
                    "Exterior 2nd", "Mas Vnr Type", "Foundation", "Heating", "Central Air", "Garage Type", 
                    "Misc Feature", "Sale Type", "Sale Condition"]

In [ ]:
transform_cat_cols = []
for col in nominal_features:
    if col in transform_df.columns:
        transform_cat_cols.append(col)

uniqueness_counts = transform_df[transform_cat_cols].apply(lambda col: len(col.value_counts())).sort_values()

drop_nonuniq_cols = uniqueness_counts[uniqueness_counts > 10].index
transform_df = transform_df.drop(drop_nonuniq_cols, axis=1)

In [ ]:
text_cols = transform_df.select_dtypes(include=['object'])
for col in text_cols:
    transform_df[col] = transform_df[col].astype('category')
    

transform_df = pd.concat([
    transform_df, 
    pd.get_dummies(transform_df.select_dtypes(include=['category']))
], axis=1).drop(text_cols,axis=1)

In [ ]:
def transform_features(data):
    num_missing = data.isnull().sum()
    drop_missing_cols = num_missing[(num_missing > len(data)/20)].sort_values()
    data = data.drop(drop_missing_cols.index, axis=1)
    
    text_mv_counts = data.select_dtypes(include=['object']).isnull().sum().sort_values(ascending=False)
    drop_missing_cols_2 = text_mv_counts[text_mv_counts > 0]
    data = data.drop(drop_missing_cols_2.index, axis=1)
    
    num_missing = data.select_dtypes(include=['int', 'float']).isnull().sum()
    fixable_numeric_cols = num_missing[(num_missing < len(data)/20) & (num_missing > 0)].sort_values()
    replacement_values_dict = data[fixable_numeric_cols.index].mode().to_dict(orient='records')[0]
    data = data.fillna(replacement_values_dict)
    
    years_sold = data['Yr Sold'] - data['Year Built']
    years_since_remod = data['Yr Sold'] - data['Year Remod/Add']
    data['Years Before Sale'] = years_sold
    data['Years Since Remod'] = years_since_remod
    data = data.drop([1702, 2180, 2181], axis=0)

    data = data.drop(["PID", "Order", "Mo Sold", "Sale Condition", "Sale Type", "Year Built", "Year Remod/Add"], axis=1)
    return data

def select_features(data, coeff_threshold=0.4, uniq_threshold=10):
    numerical_data = data.select_dtypes(include=['int', 'float'])
    abs_corr_coeffs = numerical_data.corr()['SalePrice'].abs().sort_values()
    data = data.drop(abs_corr_coeffs[abs_corr_coeffs < coeff_threshold].index, axis=1)
    
    nominal_features = ["PID", "MS SubClass", "MS Zoning", "Street", "Alley", "Land Contour", "Lot Config", "Neighborhood", 
                    "Condition 1", "Condition 2", "Bldg Type", "House Style", "Roof Style", "Roof Matl", "Exterior 1st", 
                    "Exterior 2nd", "Mas Vnr Type", "Foundation", "Heating", "Central Air", "Garage Type", 
                    "Misc Feature", "Sale Type", "Sale Condition"]
    
    transform_cat_cols = []
    for col in nominal_features:
        if col in data.columns:
            transform_cat_cols.append(col)

    uniqueness_counts = data[transform_cat_cols].apply(lambda col: len(col.value_counts())).sort_values()
    drop_nonuniq_cols = uniqueness_counts[uniqueness_counts > 10].index
    data = data.drop(drop_nonuniq_cols, axis=1)
    
    text_cols = data.select_dtypes(include=['object'])
    for col in text_cols:
        data[col] = data[col].astype('category')
    data = pd.concat([data, pd.get_dummies(data.select_dtypes(include=['category']))], axis=1).drop(text_cols,axis=1)
    return data

## 4. Train and Test

Now for the final part of the pipeline, training and testing. When iterating on different features, using simple validation is a good idea. Let's add a parameter named `k` that controls the type of cross validation that occurs.

**Tasks**

1. The optional `k` parameter should accept integer values, with a default value of `0`.

2. When `k` equals `0`, perform holdout validation (what we already implemented):

* Select the first `1460` rows and assign to `train`.
* Select the remaining rows and assign to test.
* Train on `train` and `test` on test.
* Compute the `RMSE` and return.

3. When k equals 1, perform simple cross validation:

* Shuffle the ordering of the rows in the data frame.
* Select the first 1460 rows and assign to `fold_one`.
* Select the remaining rows and assign to `fold_two`.
* Train on `fold_one` and test on `fold_two`.
* Train on `fold_two` and test on `fold_one`.
* Compute the average RMSE and return.

4. When `k` is greater than `0`, implement k-fold cross validation using `k` folds:

* Perform `k-fold` cross validation using k folds.
* Calculate the average `RMSE` value and return this value.

In [ ]:
def train_and_test(data, k=0):
    numeric_data = data.select_dtypes(include=['integer', 'float'])
    features = numeric_data.columns.drop("SalePrice")
    lr = linear_model.LinearRegression()
    
    if k == 0:
        train = data[:1460]
        test = data[1460:]

        lr.fit(train[features], train["SalePrice"])
        predictions = lr.predict(test[features])
        mse = mean_squared_error(test["SalePrice"], predictions)
        rmse = np.sqrt(mse)

        return rmse
    
    if k == 1:
        shuffled_data = data.sample(frac=1, )
        train = data[:1460]
        test = data[1460:]
        
        lr.fit(train[features], train["SalePrice"])
        predictions_one = lr.predict(test[features])        
        
        mse_one = mean_squared_error(test["SalePrice"], predictions_one)
        rmse_one = np.sqrt(mse_one)
        
        lr.fit(test[features], test["SalePrice"])
        predictions_two = lr.predict(train[features])        
       
        mse_two = mean_squared_error(train["SalePrice"], predictions_two)
        rmse_two = np.sqrt(mse_two)     
        
        avg_rmse = np.mean([rmse_one, rmse_two])
        print(rmse_one)
        print(rmse_two)
        return avg_rmse
    else:
        kf = KFold(n_splits=k, shuffle=True)
        rmse_values = []
        for train_index, test_index, in kf.split(data):
            train = data.iloc[train_index]
            test = data.iloc[test_index]
            lr.fit(train[features], train["SalePrice"])
            predictions = lr.predict(test[features])
            mse = mean_squared_error(test["SalePrice"], predictions)
            rmse = np.sqrt(mse)
            rmse_values.append(rmse)
        print(rmse_values)
        avg_rmse = np.mean(rmse_values)
        return avg_rmse

In [ ]:
data = pd.read_csv('https://bit.ly/3boZCX4)',sep= "\t")

transform_data = transform_features(data)
filtered_data = select_features(transform_data)
rmse = train_and_test(filtered_data, k=4)

rmse

[29946.78984540861, 35591.536740659605, 25513.013669810956, 25528.852920957015]

29145.048294209046

## 5. Next Steps

That's it for the guided steps. Here's some potenial next steps that you can take:

1. Continue iteration on feature engineering:
* Research some other approaches to feature engineering online around housing data.
* Visit the Kaggle kernels [page](https://www.kaggle.com/c/house-prices-advanced-regression-techniques/kernels) page for this dataset to see approaches others took.

2. Improve your feature selection:
* Research ways of doing feature selection better with categorical columns (something we didn't cover in this particular course).